#bio
  %section
    %p
      Hi, my name is
      %strong Brent Fitzgerald.
      I'm a member of the founding team at
      = succeed "," do
        %a{:href => "http://sifteo.com/"} Sifteo
      where I design and develop the software for Sifteo cubes &ndash; electronic, interactive tiles for play and learning.
  %section.links
    = link_to "LinkedIn", "http://www.linkedin.com/in/brentfitzgerald"
    = link_to "Facebook", "http://www.facebook.com/brent.fitzgerald"
    = link_to "Twitter",  "http://twitter.com/burnto"
    = link_to "Github",   "http://github.com/burnto"
    = link_to "Flickr",   "http://flickr.com/photos/burnto"
    = link_to "Delicious", "http://delicious.com/burnto"

