:ruby

%article
  %section
    %ul
      %li
        Senior MTS Software Engineer,
        = link_to "PayPal", "https://paypal.com"
      %li
        Director of Engineering,
        = link_to "card.io", "https://card.io"
        (acquired by PayPal)
      %li
        Director of Software,
        = link_to "Sifteo", "http://sifteo.com"
      %li
        Co-founder,
        = link_to "Taco Lab", "http://tacolab.com/"
      %li
        Design Chief &amp; Developer,
        = link_to "Swivel", "http://www.crunchbase.com/company/swivel"
      %li
        Graduate Student Researcher,
        = link_to "MIT Media Lab", "http://media.mit.edu/"
        = link_to "PLW", "http://plw.media.mit.edu/"
      %li
        Designer &amp; Developer,
        = link_to "Stanford Med School", "http://med.stanford.edu/"
      %li
        Undergraduate,
        = link_to "Stanford", "http://www.stanford.edu/"
        = link_to "Symbolic Systems", "http://symsys.stanford.edu/"

  %p.links
    = link_to "portfolio", "/portfolio"
    |
    = link_to "linkedin", "http://www.linkedin.com/in/brentfitzgerald"
    |
    = link_to "github", "http://github.com/burnto"