#bio
  %section
    %p
      Hi, my name is
      %strong Brent Fitzgerald.
      I'm a member of the founding team at
      = succeed "," do
        %a{:href => "http://sifteo.com/"} Sifteo
      where I design and develop the software for Sifteo cubes &ndash; electronic, interactive tiles for play and learning.
  %p.links
    = link_to "github",   "http://github.com/burnto"
    = link_to "linkedin", "http://www.linkedin.com/in/brentfitzgerald"
    = link_to "facebook", "http://www.facebook.com/brent.fitzgerald"
    = link_to "twitter",  "http://twitter.com/burnto"
    = link_to "flickr",   "http://flickr.com/photos/burnto"
    = link_to "delicious", "http://delicious.com/burnto"

