%header
  %h1 
    Brent Fitzgerald
  %p 
    Selected work and projects, 2001 - 2011
  %section#portfolio
    %section
      = img "portfolio/sifteo.jpg"
      .content
        %h2 Sifteo
        %p Founding team member of a $10MM venture-backed and NSF-funded start-up creating a game platform using distributed sensor network technology.
        %p 2009 - Present
    %section
      %img.shadow{:src => "images/portfolio/tacolab.jpg"}/
      .content
        %h2 Taco Lab
        %p
          Co-founded a hybrid design and engineering firm specializing in interfaces and interactions spanning devices and the web. Projects included sensor technology applications, rapid device prototyping, interactive data visualization, non-profit social networking applications, and web system design and development. Clients included Hallmark, Panasonic, Qixen-P, UCSF, Craigslist Foundation, SPUR, and Sequoia Capital.
        %p 2008 - Present (inactive)
    %section
      %img.shadow{:src => "images/portfolio/swivel.jpg"}/
      .content
        %h2 Swivel
        %p
          Led hands-on design and implementation of SaS social data analysis and business intelligence platform. Developed visual and interaction standards, company identity, and marketing materials. Worked with engineers using agile development process and engaged in strategic planning with management.
        %p 2007 - 2008
    %section
      %img{:src => "images/portfolio/tiny.png"}/
      .content
        %h2 Tiny Icon Factory
        %p
          %p
            An online gallery and studio for creation of 13x13 pixel, black and white icons. Running for 4 years with over 248K anonymous and uncensored contributions, Tiny is an ongoing exploration of creative expression. Built by
            %a{:href => "/about/Brent_Fitzgerald"} Brent Fitzgerald
            in collaboration with
            %a{:href => "http://black.mitplw.com/"} Luis Blackaller
            in the
            %a{:href => "http://plw.media.mit.edu/"} Physical Language Workshop
            at the
            = succeed "." do
              %a{:href => "http://www.media.mit.edu/"} MIT Media Lab
          %p
            Tiny has been featured on
            = succeed "," do
              %a{:href => "http://lifehacker.com/software/icons/create-your-own-icon-at-the-tiny-icon-factory-226656.php"} Lifehacker
            = succeed "," do
              %a{:href => "http://digg.com/design/Tiny_Icon_Factory"} Digg
            = succeed "," do
              %a{:href => "http://delicious.com/url/967c02486be93cc670a10c0c65203bea"} Del.icio.us
            = succeed "," do
              %a{:href => "http://www.flabber.nl/archief/017897.php"} Flabber.nl
            = succeed "," do
              %a{:href => "http://www.stumbleupon.com/url/tiny.media.mit.edu/"} StumbleUpon
            and other design blogs and news sites. Also included in the
            %em Delight by Design
            show at the MIT Museum.
    %section
      %img{:src => "images/portfolio/openstudio.jpg"}/
      .content
        %h2 OPENSTUDIO
        %p
          OPENSTUDIO was created by the
          %a{:href => "http://plw.media.mit.edu/"} Physical Language Workshop
          led by
          %a{:href => "http://www.maedastudio.com/"} John Maeda
          at the
          = succeed "." do
            %a{:href => "http://www.media.mit.edu/"} MIT Media Lab
          Participants created and sold artwork in an online marketplace using a virtual currency.
        %p
          OPENSTUDIO was a collaboration among
          = succeed "," do
            %a{:href => "http://burak-arikan.com/"} Burak Arikan
          = succeed "," do
            %a{:href => "http://black.mitplw.com/"} Luis Blackaller
          Annie Ding,
          = succeed "," do
            %a{:href => "/about/Brent_Fitzgerald"} Brent Fitzgerald
          = succeed "," do
            %a{:href => "http://web.media.mit.edu/~amber/"} Amber Frid-Jimenez
          = succeed "," do
            %a{:href => "http://katehollenbach.com/"} Kate Hollenbach
          = succeed "." do
            %a{:href => "http://kellegous.com"} Kelly Norton
        %p 2005 - 2008
    %section
      %img.shadow{:src => "images/portfolio/stanford_aim.jpg"}/
      .content
        %h2 Educational Media Design
        %p
          Designed and developed interactive visualizations, course software systems, and game-based learning at the Stanford School of Medicine. Consulted across departments and labs, including SUMMIT (with funding from PATH via Gates Foundation), Stanford Biodesign, and Glaser Pediatric Research Network.
        %p 2001 - 2004
/
  <section id="content">
  <section>
  <p>
  Hi, my name is <strong>Brent Fitzgerald.</strong>
  I'm a member of the founding team at <a href="http://sifteo.com/">Sifteo</a>, where I design and develop the software for Siftables&mdash;electronic, interactive tiles for play and learning.
  </p>
  </section>
  <section>
  <a href="http://www.linkedin.com/in/brentfitzgerald"><img src="images/linkedin_32.png"/></a>
  <a href="http://www.facebook.com/brent.fitzgerald"><img src="images/facebook_32.png"/></a>
  <a href="http://twitter.com/burnto"><img src="images/twitter_32.png"/></a>
  </section>
  </section>
