%header
  %h1 
    Brent Fitzgerald
  %p 
    Selected work and projects, 2001 - 2011
%article#portfolio

  %section
    .media
      .slideshow
        = img "portfolio/sifteo_dock.jpg"
        = img "portfolio/sifteo_logo.png"
        = img "portfolio/sifteo.jpg"
        = img "portfolio/sifteo_moma.jpg"
        = img "portfolio/sifteo_siftrunner.jpg"
        = img "portfolio/sifteo_01.png"
    .content
      %h2 Sifteo
      %p Founding team member of a $10MM venture-backed and NSF-funded start-up creating a game platform using distributed sensor network technology. 
      %p As Software Director, led and managed product design and development for all software components of the product: marketing site, app store, multi-platform desktop software, simulator, SDK+API. Also led visual and identity design (logo, business cards, T-shirts, marketing materials), and interaction design.
      %p Website had 42K visits in the first week, and the initial pre-order production run sold out in 12 hours. 
      %p= link_to "sifteo.com", "https://www.sifteo.com/" 
      %p 2009 - Present

  %section
    .media
      .slideshow
        = img "portfolio/tacolab/postcard.png"
        = img "portfolio/tacolab.jpg"
        = img "portfolio/tacolab/process.png"
    .content
      %h2 Taco Lab
      %p
        Founded in 2008, Taco Lab was a hybrid design and engineering firm, specializing in interfaces and interactions spanning devices and the web. 
      %p 
        Projects included sensor technology applications, rapid device prototyping, interactive data visualization, non-profit social networking applications, and web system design and development. Clients included 
        #{link_to "Hallmark", "http://hallmark.com"}
        #{link_to "Qixen-P", "http://www.qixen-p.com/"}
        #{link_to "UCSF", "http://ucsf.edu/"}
        #{link_to "Craigslist Foundation", "http://craigslistfoundation.org"},
        #{link_to "SPUR", "http://spur.org/"}, and 
        #{link_to "Sequoia Capital", "http://sequoiacap.com/"}.
      %p
        Our team from Taco Lab went on to found Sifteo in 2009.
      %p= link_to "tacolab.com", "http://tacolab.com/" 
      %p 2008 - Present
        
  %section
    .media
      .slideshow
        = img "portfolio/sequoia/remote_control.png"
        = img "portfolio/sequoia/front_search.png"
        = img "portfolio/sequoia/submit.jpg"
        = img "portfolio/sequoia/search.jpg"
    .content
      %h2 Sequoia Capital
      %p
        Led Taco Lab's targeted, radical, rapid rebuild of the Sequoia Capital website, live September 2009. Created information architecture, wireframes, and design comps. Implemented Rails-based website, provisioned servers, managed the project, and delivered on-time launch with Sequoia's largest traffic spike to date.
      %p
        = link_to "sequoiacap.com", "http://sequoiacap.com/" 
        %br
        (note that design has been altered since the Taco Lab engagement)
      %p 2009

  %section
    .media
      .slideshow
        = img "portfolio/iistv.png"
        = img "portfolio/iistv_japan.png"
        = img "portfolio/iistv_china.png"
    .content
      %h2 Is it safe to visit?
      %p Created in collaboration with #{link_to "Andy Volk of Downtempo", "http://downtempo.net/"}, IISTV scrapes official government travel advisories to offer a per-country safety rating, updated daily.
      %p= link_to "isitsafetovisit.com", "http://isitsafetovisit.com/"
      %p 2008 - Present

  %section
    .media
      .slideshow
        = img "portfolio/gentrify_screen.jpg"
        = img "portfolio/gentrify_nytimes.jpg"
        = img "portfolio/gentrify_screen2.jpg"
    .content
      %h2 Gentrify
      %p Created in 48 hours for the 2008 Rails Rumble, Gentrify was a mashup of Yelp, Craigslist, and Google Maps that "helps the elite urban bourgeois find their natural habitats."
      %p Featured on VentureBeat and the New York Times Online.
      %p 
        Collaborators: 
        #{link_to "Huned Botee", "http://hunedbotee.com/"},
        #{link_to "Visnu Pitiyanuvath", "http://twitter.com/visnup"},
        #{link_to "Gerad Suyderhoud", "http://twitter.com/gerads" }

  %section
    .media
      .slideshow
        = img "portfolio/spur01.png"
        = img "portfolio/spur_controls_01.jpg"
        = img "portfolio/spur_controls_02.jpg"
        = img "portfolio/spur_controls_03.jpg"
        = img "portfolio/spur_nextbus.jpg"
        = img "portfolio/spur_controls_04.jpg"
    .content
      %h2 SPUR Grand Opening Exhibit
      %p Taco Lab was selected to build an interactive urban data visualization for the SPUR Urban Center 2009 grand opening exhibit.
      %p Also an invited speaker at the SPUR Young Urbanist Salon.
      %p Fall 2009
      %p= link_to "spur.org", "http://spur.org/"

  %section
    .media
      .slideshow
        = img "portfolio/swivel.jpg"
        = img "portfolio/swivel/public.jpg"
        = img "portfolio/swivel/indicator.jpg"
        = img "portfolio/swivel/search.jpg"
        = img "portfolio/swivel/tickers_zoom_better.jpg"
        -#= img "portfolio/swivel/paper.jpg"
    .content
      %h2 Swivel
      %p
        Led hands-on design and implementation of SaaS social data analysis and business intelligence platform. Developed visual and interaction standards, company identity, and marketing materials. Worked with engineers using agile development process and engaged in strategic planning with management.
      %p 2007 - 2008

  %section
    .media
      .slideshow
        = img "portfolio/yummy.png"
        = img "portfolio/yummy2.png"
    .content
      %h2 Yummy Tag Timeline
      %p
        %p
          A personal interactive folksonomy timeline using
          = link_to "Del.icio.us", "http://delicious.com/"
          data, for exploration of tag trends over time. Defaults to my tags, but other users can log in for their own timeline.
        %p
          2006 - Present
        %p
          = link_to "yummy.tacolab.com", "http://yummy.tacolab.com/"

  %section
    .media
      .slideshow
        = img "portfolio/tiny.png"
        = img "portfolio/tiny_wood.png"
    .content
      %h2 Tiny Icon Factory
      %p
        %p
          An online gallery and studio for creation of 13x13 pixel, black and white icons. Running for 4 years with over 248K anonymous and uncensored contributions, Tiny is an ongoing exploration of creative expression. Built by in collaboration with
          %a{:href => "http://black.mitplw.com/"} Luis Blackaller
          in the
          %a{:href => "http://plw.media.mit.edu/"} Physical Language Workshop
          at the
          = succeed "." do
            %a{:href => "http://www.media.mit.edu/"} MIT Media Lab
        %p
          First launched in 2006, Tiny has been featured on
          = succeed "," do
            %a{:href => "http://lifehacker.com/software/icons/create-your-own-icon-at-the-tiny-icon-factory-226656.php"} Lifehacker
          = succeed "," do
            %a{:href => "http://digg.com/design/Tiny_Icon_Factory"} Digg
          = succeed "," do
            %a{:href => "http://delicious.com/url/967c02486be93cc670a10c0c65203bea"} Del.icio.us
          = succeed "," do
            %a{:href => "http://www.flabber.nl/archief/017897.php"} Flabber.nl
          = succeed "," do
            %a{:href => "http://www.stumbleupon.com/url/tiny.media.mit.edu/"} StumbleUpon
          and other design blogs and news sites. Also included in the
          %em Delight by Design
          show at the MIT Museum.
        %p Oh, and we lasercut some of the icons onto some cherry.
        %p 2006 - Present
        %p
          = link_to "tiny.tacolab.com", "http://tiny.tacolab.com/"

  -#
    %section
      .media
        .pic
          = img "portfolio/stanford_aim.jpg"
      .content
        %h2 The Law: A Wayward Engineer's Status Report
        %p
          Designed and developed interactive visualizations, course software systems, and game-based learning at the Stanford School of Medicine. Consulted across departments and labs, including SUMMIT (with funding from PATH via Gates Foundation), Stanford Biodesign, and Glaser Pediatric Research Network.
        %p 2001 - 2004


  %section
    .media
      .slideshow
        = img "portfolio/openstudio.jpg"
        = img "portfolio/openstudio_postcard.jpg"
    .content
      %h2 OPENSTUDIO
      %p
        Created by the
        %a{:href => "http://plw.media.mit.edu/"} Physical Language Workshop
        led by
        %a{:href => "http://www.maedastudio.com/"} John Maeda
        at the
        #{link_to "MIT Media Lab", "http://www.media.mit.edu/"}, OPENSTUDIO articipants created and sold artwork in an online marketplace using a virtual currency.
      %p
        OPENSTUDIO was a collaboration among
        = succeed "," do
          %a{:href => "http://burak-arikan.com/"} Burak Arikan
        = succeed "," do
          %a{:href => "http://black.mitplw.com/"} Luis Blackaller
        Annie Ding,
        = succeed "," do
          %a{:href => "/about/Brent_Fitzgerald"} Brent Fitzgerald
        = succeed "," do
          %a{:href => "http://web.media.mit.edu/~amber/"} Amber Frid-Jimenez
        = succeed "," do
          %a{:href => "http://katehollenbach.com/"} Kate Hollenbach
        = succeed "." do
          %a{:href => "http://kellegous.com"} Kelly Norton
      %p 2005 - 2008
      %p= link_to "plw.media.mit.edu", "http://plw.media.mit.edu/" 

  %section
    .media
      .slideshow
        = img "portfolio/stanford_aim_map.jpg"
        = img "portfolio/stanford_clio.jpg"
        = img "portfolio/stanford_clio_poster.jpg"
    .content
      %h2 Educational Media Design,<br/>Stanford School of Medicine
      %p
        Designed and developed interactive visualizations, course software systems, and game-based learning at the Stanford School of Medicine. Consulted across departments and labs, including SUMMIT (with funding from PATH via Gates Foundation), Stanford Biodesign, and Glaser Pediatric Research Network.
      %p 2001 - 2004


